@import "../../scss/variables";
 @import "../../scss/mixins";

.contact-bgImg-container {
    // @include bgImg(100vh, $main-bgImg-path);
    nav {
      height:80vh;
    }
  }
  
  .contact {
    height: 74vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  
    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
      color: white;
    }
  
    &__list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 2.5rem 2rem;
      font-size: 1.5rem;
      justify-content: center;
      text-align: center;
    }
  
    .text-secondary {
      color: $secondary-color;
    }
  }
  